name: API Security Automation


on:
  push:
    branches: [ "main", "master" ]  
  workflow_dispatch:                

jobs:
  security-tests:
    runs-on: ubuntu-latest  

    steps:
      
      - name: Checkout Code
        uses: actions/checkout@v4

      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      
      - name: Run Security Tests
        env:
          API_TOKEN: ${{ secrets.STAGING_API_TOKEN }}
        run: mvn test

      
      - name: Upload Test Report
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: security-test-results
          path: target/surefire-reports